@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora|Roboto');

/* Adobe fonts font set containing Minion Pro */
@import url("https://use.typekit.net/inu4nee.css");

/*
font-family: minion-pro, serif;
font-weight: 400;
font-style: normal;
font-family: 'Abril Fatface', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
*/

/*
SciLifeLab green
#95C11E
SciLifeLab blue
#0093BD
*/

p{
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}


#dash_content {
	position: relative;
	float: top;
	max-width: 717px;
	margin: auto;
	min-height: 1000px;
	height: auto;
}


#current_status {
	text-align: center
}
#current_published_p{
	font-size: 1.5em;
}
#current_year_db_link {
	text-decoration: none;
	color: black;
}
#current_year_db_link:hover {
	color: #95C11E;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, #FFFFFF 3px 2px 0;
}
#text_published_number {
	font-family: 'Abril Fatface', cursive;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 250px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #FFFFFF 3px 2px 0;
	position: relative;
}
#text_published_number:after {
	content: attr(after-content);
	position: absolute;
	left: 8px;
	top: 52px;
	background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
	background-size: 4px 4px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: -5;
	display: block;
	text-shadow: none;
}

#text_current_year {
	font-size: 4em;
	font-family: 'Abril Fatface', cursive;
}
#current_platform_table {
	/*center aligning the table*/
	margin: 0px auto;
	margin-top: 50px;
	margin-bottom: 100px;
	border-collapse: collapse;
}
#current_platform_table caption, table.facility_table caption {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	font-weight: 800;
}
#current_platform_table thead tbody {
	padding:0;
}
#current_platform_table td{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 7px;
	border:0;
	border-style: solid;
	border-top: 0;
	border-bottom: 1px solid black;
}
#current_platform_table td.current_table_platform_name_th, #current_platform_table td.current_table_platform_no_th{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: black;
	border-bottom: 2px solid black;
}
td.current_table_platform_name {
	text-align: left;
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
}
td.current_table_platform_no {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}


#facility_network {
	justify-content: center;
}
#cytoscape_network {
	min-width: 700px;
	height: 700px;
	border: inset 2px solid black;
	position: relative;
}


#charts{
	justify-content: center; /* align horizontal */
	display: flex;
}
table.facility_table {
	/*center aligning the table*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 150px;
	border-collapse: collapse;
}
table.facility_table td{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
	padding-top: 2px;
	border:0;
	border-style: solid;
	border-top: 0;
	border-bottom: 1px solid black;
}
table.facility_table td.current_table_platform_name_th, table.facility_table td.current_table_platform_no_th{
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: black;
	border-bottom: 2px solid black;
}
a.facility_table_link {
	color: #000000;
}


#button_holder {
	justify-content: center; /* align horizontal */
	display: flex;
}
button.year_button {
	display: inline-block;
	padding: 0.3em 0.3em;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 1em;
	color: #000000;
	text-align: center;
	background-color: transparent;
}
button.year_button:hover:not(.active) {
	background-color:#0093BD;
}
button.year_button:active, button.year_button.active{
	background-color:#95C11E;
}
button.year_button:focus{
	outline:0;
}

/* menu */
#menubar {
	justify-content: center; /* align horizontal */
	display: flex;
	box-shadow: 0px -2px 0px #000000 inset; 
}
button.load_button{
	display:inline-block;
	padding:0.35em 1.2em;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #000000;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 1em;
	color:#000000;
	text-align:center;
	background-color:transparent;

}
button.load_button:focus{
	outline:0;
}
button.load_button:hover:not(.active) {
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom: 2px solid #FFFFFF;
	background-color:#0093BD;
}
button.load_button.active, button.load_button:active{
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom: 2px solid #FFFFFF;
	background-color:#95C11E;
}

/* Footer */
#footer{
	width: 100%;
	border-top: 2px solid #000000;
	position: absolute; 
	bottom: 0;
}
#footer_db_link {
	color: #95C11E;
}
#footer_db_link:visited {
	color: #0093BD;
}


/*Loading animations*/
.loading_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 1.5em;
	text-align: center;
	position: relative;
	top:340px;
}
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spinner-line-fade-quick {
  0%, 9%, 100% {
    opacity: 0; /* minimum opacity */
  }
  10% {
    opacity: 1;
  }
}