@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora|Roboto');

/* Adobe fonts font set containing Minion Pro */
@import url("https://use.typekit.net/inu4nee.css");

/*
font-family: minion-pro, serif;
font-weight: 400;
font-style: normal;
font-family: 'Abril Fatface', cursive;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
*/

/*
SciLifeLab green
#95C11E
SciLifeLab blue
#0093BD
*/

p{
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

table {
	border-collapse: collapse;
}

thead{
	padding:0;
}
tbody{
	padding:0;
}

td{	
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 7px;
	border:0;
	border-style: solid;
	border-top: 0;
	border-bottom: 1px solid black;

}
#current_year_db_link {
	text-decoration: none;
	color: black;
}
#current_platform_table caption {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

td.current_table_platform_name_th {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: black;
	border-bottom: 2px solid black;
}
td.current_table_platform_no_th {
	border-bottom: 2px solid black;
	font-size: 1.2em;
	font-weight: black;
	font-family: 'Roboto', sans-serif;
}

td.current_table_platform_name {
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
}
td.current_table_platform_no {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

#dash_content {
	float: top;
	max-width: 717px;
	margin: auto;
	height: 1000px;
	border: 2px solid #f3f3f3;
}
#menubar {
	justify-content: center; /* align horizontal */
	display: flex;
}

#facility_network {
	justify-content: center;
}
#cytoscape_network {
	min-width: 700px;
	height: 700px;
	border: 2px solid black;
	position: relative;
}
#charts {
	justify-content: center; /* align horizontal */
	display: flex;
}
#facility_output {
	justify-content: center; /* align horizontal */
}

.loading_text {
	position: relative;
	left:310px;
	top:330px;
}

#button_holder {
	justify-content: center; /* align horizontal */
	display: flex;
}


/* menu buttons */
.load_button{
	display:inline-block;
	padding:0.35em 1.2em;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #000000;

	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 1em;
	color:#000000;
	text-align:center;
	background-color:transparent;

}
.load_button:focus{
	outline:0;
}
.load_button:hover{
	background-color:#95C11E;
}
.active{
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom: 2px solid #FFFFFF;
	background-color:#95C11E;
}
button.load_button:active{
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;	
	border-bottom: 2px solid #FFFFFF;
	background-color:#95C11E;
}



#text_published_number {
	font-size: 4em;
	font-family: 'Abril Fatface', cursive;
}
#text_current_year {
	font-size: 4em;
	font-family: 'Abril Fatface', cursive;
}


/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}